.App {
  .txt {
    font-size: 90px;
    color: rgb(129, 50, 119);
    left: 40%;
    top:10%;
    position: absolute;
    z-index: 100;
  }
}
#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #e60086; 
  --gradient-color-2: #7a04b9; 
  --gradient-color-3: #10008a;  
  --gradient-color-4: #07003d;
  position: fixed;
}
