.App {
  .txt {
    font-size: 90px;
    color: #837381;
    z-index: 100;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
  }
  .container {
    
    top: 150px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%); 
    
  }
  .bottom {
    //width: 100vw;
    height: 200px;
  }
}

